<h1>Hellooooooooooo</h1>

<form method="post" action="<%= sessions_url %>">
    <input type="hidden" method="delete" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="submit" value="Log Out!">
</form>